<div>
    <h1>IdeaBox: Haunted Brunch</h1>
    <form action='/' method='POST' enctype='multipart/form-data'>
      <p>Your Recipe Idea:</p>
      <p>Name of recipe:<br />
      <input type='text' name='idea[title]'/></p>
      <p>Recipe description:<br />
      <textarea name='idea[description]'></textarea></p>
      <p>Category:<br />
          <select name='idea[category]'>
          <option value="beverage">Beverage</option>
          <option value="appetizer">Appetizer</option>
          <option value="side dish">Side Dish</option>
          <option value="main dish">Main Dish</option>
          <option value="dessert">Dessert</option>
          </select></p>
      <p>Tags: <em>(ex. vegetable, chicken, alcohol)</em><br />
      <input type='text' name='idea[tags]'></p>
      <p>Image: <em>(add a photo)</em><br />
      <input type='file' name='idea[image]'/></p>
      <input type='submit' value="Submit"/>
    </form>
</div>

<%= erb :existing, locals: {ideas: ideas} %>
